---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import Socials from "@components/Socials.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="mb-28 mt-12 max-w-3xl">
      <div class="prose prose-lg max-w-none text-lg leading-relaxed font-mono">
        <slot />
      </div>
    </section>

    <section id="support" class="mb-28 max-w-3xl">
      <Socials centered />
    </section>
  </main>
  <Footer noSocials />
</Layout>

